body {
    margin: 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.5)), url(./images/background-winter.jpg);;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

main {
    width: 80%;
    margin: 3em auto;
}

h1 {
    text-align: center;
    font-family: "Berkshire Swash", serif;
    font-size: 3em;
    color: slategrey;
    text-shadow: 2px 2px 2px black;
    
}

p {
    text-align: center;
    font-family: "Montserrat";
    font-size: 1.5em;
    color: black;
}

.luukku-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;

}

.backDoor
{
  background-color: #e2e2e2;
  width:300px;
  height: 300px;
  margin: 1.25em;
  border: solid slategray 1px;
  position: relative;
}

.backDoor p {
    position: absolute;
    top: 3rem;
    left: 1rem;
    right: 1rem;
    text-align: center;
    text-wrap: wrap;
    color: black;
}

.backDoor a {
    position: absolute;
    bottom: 3rem;
    left: 1rem;
    right: 1rem;
    text-align: center;
    text-wrap: wrap;
    color: black;
}

.door
{
  background-image: url(./images/background-winter.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 3px dashed black;
  border-left: 3px solid black;
  position: absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  box-sizing: border-box;
  transform-origin: left;
   /*Speed of the Door animation*/
  transition: all 0.5s ease-in-out;
}
  /*perspective creates the door open effect*/

.door:hover {
    cursor: pointer;
}

.backDoor:hover {
    cursor: pointer;
}
/*
.door h2 {
    text-align: center;
    margin-top: 3em;
}*/

.doorOpen
{
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
}
